.parent {
    -fx-background-color: transparent;
}

.pane {
    -fx-background-color: #ffffff;
}

.buttons {
    -fx-background-color: #035956;
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}
.root {
    -fx-background-color: black ;
    -fx-padding: 20 20 20 20 ;
}
#textField {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
.dash_btn:hover{
-fx-background-color : INVISIBLE;
-fx-text-fill : gray;
-fx-border-color : #ffffff;
-fx-border-width: 0px 0px 0px 4px;
}